#bg{
    width: 100%;
    height: 120%;
    z-index: -1; 
    position: fixed ;
    margin-top: -30%;
}
#post{
    margin-bottom: 5%;
   
}
#details{
    background-color: rgba(0, 0, 0, 0.58);
    margin-top: 30%;
    padding-bottom: 2%;
    /* z-index: 100; 8*/
}
#img1{
    width: 80%;
    height: auto;
    padding-right: 7%;
    position: relative;
    padding-left:15%;
}
#text{
    position: relative;
    color: rgb(255, 255, 255);
    padding:2% 20% ;
    text-align: center;
}
#info{
    position: relative;
    color: rgb(255, 255, 255);
    padding:2% 20% ;
    text-align: center;
}
#title{
    text-align: center;
    padding: 0% 30%;
}
#view{
    color: rgb(255, 255, 255); 
    position: relative;
    
}
#category{
    color: rgb(255, 255, 255); 
    text-decoration : none ;
    position:relative;
}

#n{
    background-color: rgba(72, 72, 72, 0.61);
    border-radius:  20px;
    width: 13%;
    height: 5%;
    float: left;
}
#n :hover{
    
    color: rgba(38, 38, 38, 0.523);
    scale: 2%;
}
#titel{
    color: aliceblue;
    text-align:start;
    margin-left: 20%;
}
#img3,#img2{
    width: 80%;
    height: auto;
    
    position: relative;
    padding-left:20%;
}