{% extends './base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

<body>

  <!-- ======= Portfolio Details ======= -->
  <main id="main">
    <div>
      <div id="details">
        <div id="w">
          {% include 'blog/Widget.html' %}
          {% include 'blog/Widget1.html' %}
          {% include 'blog/Widget2.html' %}
          {% include 'blog/Widget3.html' %}
        </div>
        <div class="container">
          <h1 id="title">blog detail</h1>

          {% for post in posts %}
          <div class="post container">
            <div class="media">
              <img width="100%" src="{{post.image.url}}" alt="">
            </div>
            <div class="title">
              <a href="{% url 'blog:single' pid=post.id %}"><h1>{{post.title}}</h1></a>
            </div>
            <div class="parent">
              <div class="info">
                <p>{{post.author.get_full_name}} <span class="glyphicon glyphicon-user"></span></p>
                <p>{{post.published_date | date:" D d M Y"}} <span class="glyphicon glyphicon-calendar"></span></p>
                <p>{{post.counted_views}} view <span class="glyphicon glyphicon-eye-open"></span></p>
                <p>
                  {% for cat in post.category.all %}
                  <a href="#">{{cat}}</a>{% if not forloop.last %},{% endif %}
                  {% endfor %}
                </p>
              </div>

              <div class="content">
                <p>{{post.content|truncatechars:150}}</p>
                <a href="{% url 'blog:single' pid=post.id %}" class="btn btn-Success active" aria-current="page">more</a>

              </div>
            </div>

          </div>
          {% endfor %}

        </div>
          <ul class="pagination" id="pagination" >
            <li class="page-item" ><a class="page-link " id="page-item" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" id="page" href="#">1</a></li>
            <li class="page-item"><a class="page-link" id="page" href="#">2</a></li>
            <li class="page-item"><a class="page-link" id="page" href="#">3</a></li>
            <li class="page-item"><a class="page-link" id="page-item" href="#">Next</a></li>
          </ul>
        
      </div>

    </div>
    <!-- End Portfolio Details -->

  </main><!-- End #main -->

  <div class="footer ">
    <div>
      <p>+989156557328 <span class="glyphicon glyphicon-earphone"></span></p>
      <p>mahdi.yazdanpanah000@gmail.com <span class="glyphicon glyphicon-globe"></span></p>
    </div>
    <div class="co ">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-success" id="liveToastBtn">send</button>

      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="{% static '/img/favicon.png '%}" class="rounded me-2" alt="...">
            <strong class="me-auto">mahdi yazdanpanah</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Hello, your message has been sent successfully
            I will answer you as soon as I am online
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/purecounter/purecounter_vanilla.js '%}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js '%}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js '%}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js '%}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js '%}"></script>
  <script src="{% static '/vendor/waypoints/noframework.waypoints.js '%}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js '%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js '%}"></script>

</body>
{% endblock %}