{% extends './base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

<body>

  <!-- ======= Portfolio Details ======= -->
  <main id="main">
    <div>
      <div id="details">
        <div id="w">
          {% include 'blog/Widget.html' %}
          {% include 'blog/Widget1.html' %}
          {% include 'blog/Widget2.html' %}
          {% latest_posts %}
        </div>
        <div class="container">
          <h1 id="title">{{posts.title}}</h1>


          <div class="post container">
            <div class="media">
              <img width="100%" src="{{posts.image.url}}"  alt="">
            </div>
            <div class="title">
              <h1>{{posts.title}}</h1>
            </div>
            <div class="parent">
              <div class="info">
                <p>{{posts.author.get_full_name}} <span class="glyphicon glyphicon-user"></span></p>
                <p>{{posts.published_date | date:" D d M Y"}} <span class="glyphicon glyphicon-calendar"></span></p>
                <p>{{posts.counted_views}} view <span class="glyphicon glyphicon-eye-open"></span></p>
                <p>
                  {% for cat in posts.category.all %}
                  <a href="#">{{cat}}</a>{% if not forloop.last %},{% endif %}
                  {% endfor %}
                </p>
              </div>

              <div class="content">
                <p>{{posts.content}}</p>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
    <!-- End Portfolio Details -->

  </main><!-- End #main -->


{% endblock %}