{% load static %}
<div id="Widget">
  <p id="titel">view</p>
  <div id="n">
    <ul>
      <li>Today:<span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1"
          class="purecounter"></span></li>
      <li>Month:<span data-purecounter-start="0" data-purecounter-end="255" data-purecounter-duration="1"
          class="purecounter"></span></li>
      <li>total:<span data-purecounter-start="0" data-purecounter-end="255" data-purecounter-duration="1"
          class="purecounter"></span></li>
    </ul>
  </div>
</div>